[submodule "external/gpslib"]
	path = external/gpslib
	url = git@github.com:eagletrt/gpslib.git
[submodule "imgui"]
	path = external/imgui
	url = git@github.com:ocornut/imgui.git
[submodule "external/implot"]
	path = external/implot
	url = git@github.com:epezent/implot.git
[submodule "external/nativefiledialog-extended"]
	path = external/nativefiledialog-extended
	url = https://github.com/btzy/nativefiledialog-extended
